{
  "option_settings": [
    {
      "option_name": "TEST_PASSWORD", 
      "value": "localhost"
    }, 
    {
      "option_name": "FB_CLIENT_ID", 
      "value": "1505269233050949"
    }, 
    {
      "option_name": "FB_CLIENT_SECRET", 
      "value": "a08a6b2ea457c67d7f955cff6eec32b1"
    }
  ],
	"comment": "You also need to provide AWS credentials if you want to access DynamoDB. Use ~/.aws/credentials"
}
