{
  "option_settings": [
    {
      "option_name": "TEST-PASSWORD", 
      "value": "localhost"
    }, 
    {
      "option_name": "FB-CLIENT-ID", 
      "value": "1505269233050949"
    }, 
    {
      "option_name": "FB-CLIENT-SECRET", 
      "value": "a08a6b2ea457c67d7f955cff6eec32b1"
    }
  ]
}
